

ol {
    display:flex;
    list-style-position:outside;
    justify-content: center;
    flex-direction: column;
}

.game-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.game-type {
    font-size: 1.4em;
    margin-left: 1em;
    
}



.country{
   padding: 0.4em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid black;
  
}

.country-container {
    display: flex;
}


.img-container {
    margin-left: 1em;
    width: 80px;
   
}

.country-info {
  
    gap:0.2em;
}

.country-info button {
    width:5em;
}