

.quiz {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board-container {
    display: flex;
    justify-content: space-around;
    
   
}

.board {
    background-color: rgba(22, 187, 146, 0.849);
    margin-top: 2em;
    border-radius: 1em;
}



.units {
    background-color: rgba(22, 187, 146, 0.849);
    height: fit-content;
    color: aliceblue;
    padding: 1em;
    font-size: 2em;
   
}



/* 
@media (max-width: 700px) {
    .quiz {
        flex-direction: column;
        align-items: center;
    }

    .flagboards {
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        
    }


} */