

.quiz {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.quiz p {
    text-align: center;
}

.game-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

.game-type {
    font-size: 1.4em;
    margin-left: 1em;
    
}

.board-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.4em;
}




.units {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.4em;
}

.units ul {
    display:flex;
    width: 100%;
    padding:0;
    margin: 0;
    justify-content: space-evenly;
}

.units p {
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    font-family:monospace;
}

.units p img {
    display:block;
    width: 1em;
 
}



.play-again {
    display: block;
    margin: 1em 0 0 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    animation: swing 1s infinite alternate;
}

.greating {
    font-size: 2em;
    font-weight: 800;
    margin-top: 0.6em;
}



@keyframes swing {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
}


