

.quiz {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.quiz p {
    text-align: center;
}

.game-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

.game-type {
    font-size: 1.4em;
    margin-left: 1em;
    
}

.board-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8em;
}






.accuracy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    font-size: 2em;
    gap:1em;

}

.accuracy img {
    display:block;
    width: 2em;
 
}



.play-again {
    display: block;
    margin: 1em 0 0 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    animation: swing 1s infinite alternate;
}

.greating {
    font-size: 2em;
    font-weight: 800;
    margin-top: 0.6em;
}


@media (min-width: 1000px) {
    .quiz {
        padding: 0 20%;
    }
   
}

/* 
@keyframes swing {
    0% {
        transform: translateX(-2px);
    }
    100% {
        transform: translateX(2px);
    }
} */


