

.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


.header div {
    padding:0.4em;
}

.header div h1 {
    font-size: 1.6em;
    text-align: center;
}

.home {
    flex-direction: column;
}

.flagballs-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}


.flagballs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flagballs img {
    object-fit: cover;
}


.home nav ul  {
    margin: 0;
    padding:0;
}

.home nav ul li {
    display: flex;
    justify-content: center;
    margin-bottom: 0.4em;
}


.home nav ul button {
    display: block;
    text-align: center;
    width: 100%;
    margin:0.2em 0;
    padding: 0 2em;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    /* animation: swing 1s infinite alternate; */
}

.boards-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.countries-list {

    margin-top: 2em;
}

@media (min-width: 1000px) {



    .home {
        display: flex;
       flex-direction: row;
       justify-content: space-around;
       padding:0 10%;
 
    }

    .flagballs img {
        max-height: 80vh;
    }

    .home nav {
        margin: auto;
    }
}



/* 
@keyframes swing {
    0% {
        transform: translateX(-2px);
       
    }
    100% {
        transform: translateX(2px);
      
    }
} */