

.region-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    font-size: 1.2em;
}

.region-buttons button {
    width:fit-content;
    margin-top: 1em;
    padding: 0 2em;
}