

.flagsboard {
    display:flex;
    align-items: center;
    justify-content:flex-start;
    width:100%;
    overflow:hidden;
    flex-wrap: wrap;
}

.img-container {
   
    padding: 0.1em 0;

}

.flagsboard img {
    display:block;
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}



/* @media (max-width: 700px) {

    .flagsboard {
        padding: 1em;
    }

    .flagsboard-img {
        width:24px;
        height:16px;
        border: 0.2px solid black;
      
    
    }



} */