

.setup {
    font-size: 1.4em;
}


form {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


input[type="button"], button {
    display: block;
    width: 100%;
    margin:0.2em 0;
    font-weight: 600;
}

input[type="button"].active {
    color:#7bb8ff;
}

.setup p {
    text-align: center;
}

.radio-wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio-btns {
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.region-btns {
    width:80%;
}

.region-img {
    height:40vh;
}

.region-img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.start-btn {
    padding: 0 2em;
    font-weight: 600;
    font-size: 1.4em;
    animation: swing 1s infinite alternate;
    letter-spacing: 0.1em;
    margin: 1em;
}

@keyframes swing {
    0% {
        transform: translateX(-2px);
       
    }
    100% {
        transform: translateX(2px);
      
    }
}