

.setup {
    font-size: 1.4em;
}


form {
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
  
}


input[type="button"], button {
    display: block;
    width: 100%;
    margin:0.2em 0;
    font-weight: 600;
}

input[type="button"].active {
    color:#7bb8ff;
}

.setup p {
    text-align: center;
}

ul.games-container {
    padding:0.2em;
}
.games-container li {
    display:flex;
    border:1px solid black;
    padding:0.2em;
    margin-top: 0.6em;
}

.game-info {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:75%;
}

.game-info h5 {
    margin:0;
    

}

.game-info button {
    width:50%;
    font-size: 0.8em;
}


.type-img {
    width:25%;
}
.type-img img {
    display:block;
    width:100%;
    object-fit: cover;
  
}

.type-btns button {
    width:30%;
    height:30%;
}

.wrapper {
    width: 100%;
    display: flex;

    /* align-items: flex-start; */
    justify-content: center;
    padding:0 0.4em;
    gap:0.4em;
}

.radio-wrapper {
 
    display: flex;
    flex-direction: column;
 
  
   
 
}

.radio-btns {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 0.4em;
    margin-top: 0.2em;
}

.radio-btns label {
    display: flex;

}

.region-btns {
    width:100%;
    
  
}

.region-img {
    height:40vh;
}

.region-img img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.start-btn {
    padding: 0 2em;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    margin: 0.6em;
    width:60%;
}

  
@media (max-width: 400px) {
    .radio-btns .game36 {
        display: none;
    }
}

@media (min-width: 1000px) {
    .setup {
        padding: 0 20%;
    }
   
}
