@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Graduate&family=Russo+One&display=swap');


body {
    display: flex;
    justify-content: center;

    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 16px; 
    line-height: 1.6; 
    color: #333;
    background: rgb(118, 120, 125);
    background: linear-gradient(90deg, rgba(118, 120, 125, 1) 10%, rgba(207, 209, 215, 1) 40%, rgba(207, 209, 215, 1) 60%, rgba(118, 120, 125, 1) 90%);

}

#root {
    width: 100%;
}

a {
    color: #ffffff;
}


.dark {
    color: #ffffff;
    background: rgb(72, 83, 111);
    background: linear-gradient(90deg, rgba(72, 83, 111, 1) 10%, rgba(12, 12, 13, 1) 25%, rgba(12, 12, 13, 1) 75%, rgba(72, 83, 111, 1) 90%);
    /* box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.9);  */
}


/* @media (prefers-color-scheme: dark) {
    body {
        color: #333;
        background: rgb(118, 120, 125);
        background: linear-gradient(90deg, rgba(118, 120, 125, 1) 10%, rgba(207, 209, 215, 1) 40%, rgba(207, 209, 215, 1) 60%, rgba(118, 120, 125, 1) 90%);
    }

    .dark {
        color: #ffffff;
        background: rgb(72, 83, 111);
        background: linear-gradient(90deg, rgba(72, 83, 111, 1) 10%, rgba(12, 12, 13, 1) 25%, rgba(12, 12, 13, 1) 75%, rgba(72, 83, 111, 1) 90%);
 
    }
  } */


