
.question {
    width:100%;
    height:60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /* margin-top: auto; */
}

.country-name {
    font-size: 2em;
    font-weight: 600;

}


.flag {
    width:70%;
    height:40%;
    margin-bottom: 1em;
    overflow: hidden;
    
}


.flag img {
    width:100%;
    height:100%; 
    object-fit:fill;

}

.options {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top:1em;
    margin-bottom: auto;
    

}

.options button {
    margin: 0.2em 0;
    font-size: 1.4em;
    font-weight: 600;
}

.correct {
    background-color: green;
}

