
.question {
    width:100%;
    height:25em;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /* margin-top: auto; */
}

.country-name {
    font-size: 2em;
    font-weight: 600;
}


.flag {
    width:70%;
    /* height:9em; */
    margin-bottom: 1em;
    overflow: hidden;

    
}


.flag img {
    width:100%;
    height:100%; 
    object-fit:fill;
  
}

.options {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-top:1em;
    margin-bottom: auto;
    

}

.options button {
    margin: 0.2em 0;
    font-size: 1.4em;
    font-weight: 600;
}


.correct {
    border: 2px solid rgb(66, 250, 66);
    animation: blink 0.2s infinite;
}

.incorrect {
    border: 2px solid rgb(235, 78, 30);
    color:  rgb(235, 78, 30);

}

@keyframes blink {
    0% {
        border-color: rgba(66, 250, 66, 1);
    }
    50% {
        border-color: rgba(66, 250, 66, 0);
    }
    100% {
        border-color: rgba(66, 250, 66, 1);
    }
}



